@font-face {
  font-family: "Jost";
  src: url(../assets/fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Jost-light";
  src: url(../assets/fonts/Jost-Light.ttf);
}


$jostLight : Jost-light;
$grey1 : rgb(201, 201, 201);
$white1: rgba(250, 249, 249, 0.938);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Jost, sans-serif;
  background: $white1;
  color: white;

}

ul {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}